@page
@model EduToyRentalPlatform.Pages.Admin.ContractManage.IndexModel

@{
    ViewData["Title"] = "Contract Management";
    Layout = "~/Pages/Admin/Shared/_Layout.cshtml";
}

<div class="row shadow rounded p-3">
    <div class="d-flex justify-content-between align-items-center mb-4" style="width: 100%;">
        <h1 class="h3">Contract Management</h1>
        <a asp-page="Create" class="btn btn-primary">Create New Contract</a>
    </div>

    <form method="get" asp-page-handler="Search" class="d-flex mb-4" style="max-width: 400px;">
        <input type="text" name="searchName" placeholder="Search by Toy Name or User Name" class="form-control me-2" style="width:600px; height: 50px;" />
        <button type="submit" class="btn btn-primary custom-search-btn" style="height: 50px;">Search</button>
    </form>

    <table class="table table-success table-striped table-responsive table-hover">
        <thead>
            <tr>
                <th>Restore Toy ID</th>
                <th>Total Value</th>
                <th>Number of Rentals</th>
                <th>Date Created</th>
                <th>Status</th>
                <th>Customer Name</th>
                <th>Created By</th>
                <th>Created Time</th>
                <th>Deleted Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ContractEntities != null && Model.ContractEntities.Any())
            {
                foreach (var item in Model.ContractEntities)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.RestoreToyId)</td>
                        <td>@Html.DisplayFor(modelItem => item.TotalValue)</td>
                        <td>@Html.DisplayFor(modelItem => item.NumberOfRentals)</td>
                        <td>@Html.DisplayFor(modelItem => item.DateCreated)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td>@Html.DisplayFor(modelItem => item.ApplicationUser.FullName)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreatedBy)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreatedTime.ToString("hh:mm:ss"))</td>
                        <td>@Html.DisplayFor(modelItem => item.DeletedTime)</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                                <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
                                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                                <a asp-page="./ContractDetail" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Contract Detail</a>
                                <a asp-page="./Transaction" asp-route-id="@item.Id" class="btn btn-dark btn-sm">Transaction</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="13" class="text-center">No contracts available</td>
                </tr>
            }
        </tbody>
    </table>
</div>
